.mainbody{
    background-color:rgb(44, 40, 40);
}
.paragraph{
    text-align: justify;
    text-justify: inter-word;
}
.bold{
    color: goldenrod;
}
@media (max-width: 1080px){
    .body-text{
    grid-template-columns: 1fr;
    }
}
.button {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #3d3a4e;
    background-size: 400%;
    color: #fff;
    border: none;
}
  
.button:hover::before {
    transform: scaleX(1);
}
  
.button-resume {
    position: relative;
    z-index: 1;
}
  
.button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient(
      82.3deg,
      rgb(174, 160, 196) 10.8%,
      rgb(182, 179, 211) 94.3%
    );
    transition: all 0.475s;
  }